* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#other {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
}

#circle {
    width: 50px; 
    height: 50px; 
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
   /* cursor: pointer;
    transition: all 0.3s ease; 
       */
}

wipe {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}

.wipe {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    animation: wipeAnimation 4s forwards;
}

@keyframes wipeAnimation {
    0% {
        top: 0;
    }

    50% {
        top: 200px;
    }

    100% {
        top: 0;
        opacity: 0; /* Make disappear at the end */
    }
}

